/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* Variables */
:root {
    --ff-primary: 'Roboto', sans-serif;

    --fs-primary: 1.125rem;
    --fs-quote: 2.25rem;
    --fs-quote-caption: 1.5rem;
    --fs-heading-one: 3rem;
    --fs-heading-two: 2.25rem;
    --fs-heading-three: 1.5rem;

    --clr-dark-blue: #1f2937;
    --clr-light-gray: #e5e7eb;
    --clr-light-blue: #3882f6;
    --clr-white: #f9faf8;
    
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* Reset */
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* General */
body {
    font-size: var(--fs-primary);
    font-family: var(--ff-primary);
    background-color: var(--clr-dark-blue);

    color: var(--clr-white);
}

h1 {
    color: var(--clr-white);
    font-size: var(--fs-heading-one);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-heading-two);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
}

h3 {
    font-size: var(--fs-heading-three);
}

a {
    text-decoration: none;
    color: var(--clr-light-gray);
}

button {
    padding: 0.5rem 2.125rem;
    color: var(--clr-white);
    font-size: var(--fs-primary);
    font-weight: var(--fw-bold);
    cursor: pointer;
    border: none;
    border-radius: 9px;
    background-color: var(--clr-light-blue);
}

/* Nav */
nav {
    max-width: 1280px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
}

.nav-logo {
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}

.nav-list {
    display: flex;
    gap: 1.5rem;
}

/* Header */
.primary-header {
    max-width: 1280px;
    margin: auto;

    display: flex;
    padding: 10rem 0;
}

.primary-container {
    max-width: 45ch;
}

.primary-container p {
    color: var(--clr-light-gray);
    padding-bottom: 1rem;
}

/* Section 1 */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0;
    background-color: var(--clr-white);
}

.information-container {
    max-width: 1280px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
}

.information-container div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--clr-dark-blue);
    flex-basis: 10.625rem;
}

.placeholder {
    width: 175px;
    height: 175px;
    border: solid 4px var(--clr-light-blue);
    border-radius: 17px;
}

/* Quote */
.quote {
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    background-color: var(--clr-light-gray);
}

.quote-container {
    max-width: 80ch;
    
    display: flex;
    flex-direction: column;
    color: var(--clr-dark-blue);
}

.quote-text {
    font-size: var(--fs-quote);
    font-weight: var(--fw-light);
    font-style: italic;
}

.quote-caption {
    align-self: flex-end;
    font-size: var(--fs-quote-caption);
}

/* CTA */
.cta {
    background-color: var(--clr-white);
    padding: 8rem 0;
}

.cta-container {
    max-width: 1280px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 4rem 9rem;
}

.btn-border {
    border: solid 2.5px var(--clr-white);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}