/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* Variables */
/* :root {
    --dark-blue: ;
} */

/* Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* General */
body {
    font-family: 'Roboto', sans-serif;
    /* max-width: 1280px; */
    /* margin: auto; */
    background-color: #1f2937;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px 35px;
    background-color: #3882F6;
    cursor: pointer;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    margin: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

/* Header */
header {
    display: flex;
    align-items: center;
    height: 500px;
    max-width: 50ch;
}

.header-text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 1rem;
}

/* Section 1 */
.info {
    background-color: azure;
    font-size: 18px;
    /* color: #E5E7EB; */
    background-color: #F9FAF8;
    align-items: center;
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.placeholder {
    width: 175px;
    height: 175px;
    border: solid 4px #3882F6;
    border-radius: 17px;
}

.info-con {
    display: flex;
    flex-basis: 1px;
    flex-grow: 0;
    gap: 55px;
}